.container {
  width: var(--site-width);
  max-width: var(--max-width-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: var(--_alignment, start);
  gap: var(--space-8);
  position: relative;
  margin-inline: auto;
  & > [class] {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.flex-horizontal-nowrap {
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: var(--_alignment, start);
}
