.padding-4 {
  padding: var(--space-4);
}

.gap-0 {
  grid-column-gap: var(--_gap-size);
  grid-row-gap: var(--_gap-size);
  --_gap-size: 0rem;
}

.gap-2 {
  grid-column-gap: var(--_gap-size);
  grid-row-gap: var(--_gap-size);
  --_gap-size: var(--space-2);
}

.gap-row-4 {
  grid-row-gap: var(--space-4);
}

.alignment-center {
  --_alignment: center;
  text-align: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: clip;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
