.anime-link {
  display: flex;
  gap: var(--space-2);
  align-items: center;
  position: relative;
  cursor: pointer;
}

.anime-link-label {
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.anime-link-label h5 {
  margin: 0;
}

.anime-link-icon {
  width: 4rem;
  height: 1.25rem;
  background-color: var(--accent);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: var(--white);
}
