@layer components {
  .manifesto_wrap {
    position: relative;
    width: 100%;
    margin: 0;
    background-color: transparent;
    color: var(--text);
    padding-bottom: 50vh;
  }

  .manifesto_layout {
    width: 100%;
  }

  .manifesto_lead {
    grid-column: calc(3 * var(--_responsive---large) + 1) / span calc(8 * var(--_responsive---large) + 12 * (1 - var(--_responsive---large)));
    margin: 0;
    max-width: none;
    color: var(--text);
  }
}
